<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188779872778-f60a7r80kn0bn0q1gpsimvncnhoetehm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188779872778-f60a7r80kn0bn0q1gpsimvncnhoetehm</string>
	<key>API_KEY</key>
	<string>AIzaSyBxikdgm-ixgUv2HXomxyMyy8rVrzXcPjo</string>
	<key>GCM_SENDER_ID</key>
	<string>188779872778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aleksandre.Food-recipe</string>
	<key>PROJECT_ID</key>
	<string>foodrecipe-1d9c0</string>
	<key>STORAGE_BUCKET</key>
	<string>foodrecipe-1d9c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188779872778:ios:84800764d97c50f78ed5f3</string>
</dict>
</plist>